USE [MininaMDK0202]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 30.11.2025 19:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Units_cost] [float] NULL,
	[Count_in_stock] [int] NULL,
	[ID_Material_Type] [int] NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material_type]    Script Date: 30.11.2025 19:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Material_type_name] [nvarchar](100) NULL,
	[Percentage_of_defective_materials] [float] NULL,
 CONSTRAINT [PK_Material_type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials_in_products]    Script Date: 30.11.2025 19:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials_in_products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Product] [int] NULL,
	[ID_Material] [int] NULL,
 CONSTRAINT [PK_Materials_in_products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner_products_request]    Script Date: 30.11.2025 19:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner_products_request](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Product] [int] NULL,
	[ID_Partner] [int] NULL,
	[Count] [int] NULL,
 CONSTRAINT [PK_Partner_products_request] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner_type]    Script Date: 30.11.2025 19:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner_type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Partner_type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 30.11.2025 19:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Partner_type] [int] NULL,
	[Name] [nvarchar](50) NULL,
	[Director] [nvarchar](150) NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](150) NULL,
	[INN] [float] NULL,
	[Rating] [int] NULL,
 CONSTRAINT [PK_Partners] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_type]    Script Date: 30.11.2025 19:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Product_type_name] [nvarchar](130) NULL,
	[Product_Type_Factor] [float] NULL,
 CONSTRAINT [PK_Product_type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 30.11.2025 19:41:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Product_type] [int] NULL,
	[Name] [nvarchar](75) NULL,
	[Article] [int] NULL,
	[Minimal_cost_for_partner] [float] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Material_type] ON 

INSERT [dbo].[Material_type] ([ID], [Material_type_name], [Percentage_of_defective_materials]) VALUES (1, N'Тип материала 1', 0.002)
INSERT [dbo].[Material_type] ([ID], [Material_type_name], [Percentage_of_defective_materials]) VALUES (2, N'Тип материала 2', 0.005)
INSERT [dbo].[Material_type] ([ID], [Material_type_name], [Percentage_of_defective_materials]) VALUES (3, N'Тип материала 3', 0.003)
SET IDENTITY_INSERT [dbo].[Material_type] OFF
GO
SET IDENTITY_INSERT [dbo].[Partner_products_request] ON 

INSERT [dbo].[Partner_products_request] ([ID], [ID_Product], [ID_Partner], [Count]) VALUES (1, 4, 1, 2000)
INSERT [dbo].[Partner_products_request] ([ID], [ID_Product], [ID_Partner], [Count]) VALUES (2, 5, 2, 3000)
INSERT [dbo].[Partner_products_request] ([ID], [ID_Product], [ID_Partner], [Count]) VALUES (3, 1, 3, 1000)
SET IDENTITY_INSERT [dbo].[Partner_products_request] OFF
GO
SET IDENTITY_INSERT [dbo].[Partner_type] ON 

INSERT [dbo].[Partner_type] ([ID], [Name]) VALUES (1, N'ЗАО')
INSERT [dbo].[Partner_type] ([ID], [Name]) VALUES (2, N'ООО')
INSERT [dbo].[Partner_type] ([ID], [Name]) VALUES (3, N'ПАО')
SET IDENTITY_INSERT [dbo].[Partner_type] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners] ON 

INSERT [dbo].[Partners] ([ID], [ID_Partner_type], [Name], [Director], [Email], [Phone], [Address], [INN], [Rating]) VALUES (1, 1, N'Стройдвор', N'Андреева Ангелина Николаевна', N'angelina77@kart.ru', N'492 452 22 82', N'143001, Московская область, город Одинцово, уд. Ленина, 21', 9432455179, 5)
INSERT [dbo].[Partners] ([ID], [ID_Partner_type], [Name], [Director], [Email], [Phone], [Address], [INN], [Rating]) VALUES (2, 1, N'Самоделка', N'Мельников Максим Петрович', N'melnikov.maksim88@hm.ru', N'812 267 19 59', N'306230, Курская область, город Обоянь, ул. 1 Мая, 89', 7803888520, 3)
INSERT [dbo].[Partners] ([ID], [ID_Partner_type], [Name], [Director], [Email], [Phone], [Address], [INN], [Rating]) VALUES (3, 2, N'Деревянные изделия', N'Лазарев Алексей Сергеевич', N'aleksejlazarev@al.ru', N'922 467 93 83', N'238340, Калининградская область, город Светлый, ул. Морская, 12', 8430391035, 4)
SET IDENTITY_INSERT [dbo].[Partners] OFF
GO
SET IDENTITY_INSERT [dbo].[Product_type] ON 

INSERT [dbo].[Product_type] ([ID], [Product_type_name], [Product_Type_Factor]) VALUES (1, N'Древесно-плитные материалы', 1.5)
INSERT [dbo].[Product_type] ([ID], [Product_type_name], [Product_Type_Factor]) VALUES (2, N'Декоративные панели', 3.5)
INSERT [dbo].[Product_type] ([ID], [Product_type_name], [Product_Type_Factor]) VALUES (3, N'Плитка', 5.25)
SET IDENTITY_INSERT [dbo].[Product_type] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [ID_Product_type], [Name], [Article], [Minimal_cost_for_partner]) VALUES (1, 1, N'Фанера ФСФ 1800х1200х27 мм бежевая береза', 6549922, 5100)
INSERT [dbo].[Products] ([ID], [ID_Product_type], [Name], [Article], [Minimal_cost_for_partner]) VALUES (2, 2, N'Мягкие панели прямоугольник велюр цвет оливковый 600х300х35 мм', 7018556, 1880)
INSERT [dbo].[Products] ([ID], [ID_Product_type], [Name], [Article], [Minimal_cost_for_partner]) VALUES (3, 4, N'Бетонная плитка Белый кирпич микс 30х7,3 см', 5028272, 2080)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_Material_type] FOREIGN KEY([ID_Material_Type])
REFERENCES [dbo].[Material_type] ([ID])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_Material_type]
GO
ALTER TABLE [dbo].[Materials_in_products]  WITH CHECK ADD  CONSTRAINT [FK_Materials_in_products_Material] FOREIGN KEY([ID_Material])
REFERENCES [dbo].[Material] ([ID])
GO
ALTER TABLE [dbo].[Materials_in_products] CHECK CONSTRAINT [FK_Materials_in_products_Material]
GO
ALTER TABLE [dbo].[Materials_in_products]  WITH CHECK ADD  CONSTRAINT [FK_Materials_in_products_Products] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[Materials_in_products] CHECK CONSTRAINT [FK_Materials_in_products_Products]
GO
ALTER TABLE [dbo].[Partner_products_request]  WITH CHECK ADD  CONSTRAINT [FK_Partner_products_request_Partners] FOREIGN KEY([ID_Partner])
REFERENCES [dbo].[Partners] ([ID])
GO
ALTER TABLE [dbo].[Partner_products_request] CHECK CONSTRAINT [FK_Partner_products_request_Partners]
GO
ALTER TABLE [dbo].[Partner_products_request]  WITH CHECK ADD  CONSTRAINT [FK_Partner_products_request_Products] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[Partner_products_request] CHECK CONSTRAINT [FK_Partner_products_request_Products]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_Partners_Partner_type] FOREIGN KEY([ID_Partner_type])
REFERENCES [dbo].[Partner_type] ([ID])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_Partners_Partner_type]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Product_type] FOREIGN KEY([ID_Product_type])
REFERENCES [dbo].[Product_type] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Product_type]
GO
